// Fonts
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Crimson Text', serif;

// Colors
$color-accent: #E98074;
$gray-darkest: #000;//#EAE7DC;
$gray-dark: #D8C3A5;
$gray: #8E8D8A;
$gray-light: #aaa;
$gray-lighter: #000;
$yellow: #E98074;
